.products-container {
    width: 85%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffe2;
    float: left;
}

.products-wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products-directory {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}