.filters-container {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcd78;
}

.filters-wrapper {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
}

h2 {
    margin-right: 12px;
}
